{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block body %}
<h2>{{ department_user.department_name }}</h2>
 <div class = row>
  <div class="col-md-7">  
 Location: {{ department_user.city }}, {{ department_user.state }}
</div>
<div class="col-md-5">
  {% if g.user %}
      <div class=followstatus style="float:right;">
      {% if g.user.user_id == department_user.department_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=department_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=department_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
  {% endif %}
</div>
</div>


  <div class="tweet-screen">
<div class=twitbox>
 <div class=row>
 
<div class="demo-heading-note col-md-7"> <h5> Number of muddas assigned: {{ department_user.num_issues_assigned }}</h5></div>
<div class="demo-heading-note col-md-7"> <h5> Number of muddas solved: {{ department_user.num_issues_solved }}</h5> </div>
<div class="demo-heading-note col-md-7"> <h5> Reputation: {{ reputation }}</h5></div>

 </div>

<ul class=messages>
  {% for message in messages %}
  <br><div style="background:#3e5171;border-radius:20px;padding:25px 20px 20px 60px;color:#eeeeee">
  <li><img src="{{ message.email|gravatar(size=48) }}" style="float:left"><p>
  <strong> &nbsp; <a href="{{ url_for('user_timeline', username=message.username)
      }}" style="font-size:18pt">{{ message.username }}</a></strong>
        &nbsp; &nbsp; 
     {% for tag in getTags(message.text) %}
        {% if tag[1] == 1 %}
          {{tag[0]}}
        {% elif tag[1] == 2 %}
          <a href="{{ url_for('search_hashtag', hashtag=tag[0])}}">#{{tag[0]}}</a>
        {% else %}
          <a href="/{{tag[0]}}">@{{tag[0]}}</a>
        {% endif %}
      {% endfor %}
      <small>&mdash; On {{ message.pub_date|datetimeformat }}, {{ message.location }} </small>
  </li></div>{% endfor %}
  </ul></div></div>
<br><br>



<script type="text/javascript">
  function plus_one(message_id) {
    $.getJSON($SCRIPT_ROOT + '/_plus_one', {
      message_id: $('input[name="message_' + message_id + '"]').val(),
      }, function(data) {
       $("#plus_one_count_"+message_id).text(data.result);
       var li = $('input[name="message_' + message_id + '"]').parent().parent();
       $(li).removeClass('active');
       $(li).removeClass('inactive');
       $(li).addClass(data.status);
    });
  }
  function add_comment(message_id) {
    $.getJSON($SCRIPT_ROOT + '/_add_comment', {
      message_id: $('input[name="message_' + message_id + '"]').val(),
      text: $('textarea[name="body_' + message_id + '"]').val(),
      }, function(data) {
        if (data) {
          $('#comments_' + message_id).append('<li>' + $('textarea[name="body_' + message_id + '"]').val() +'</li>');
          $('textarea[name="body_' + message_id + '"]').val('');
        }
    });
  }
  $(document).ready(function(){

    $(".messages li").each(function() {
        var li = this;
        var message_id = $(this).find('input')[0]['name'].split('_')[1];
        $.getJSON($SCRIPT_ROOT + '/_set_upvote_classes', {
            message_id: message_id,
            }, function(data) {
              if (data.result) {
                $(li).addClass('inactive');
              }
            }
        );
    });

    $(".comments ul").each(function() {
      var ul = this;
      var message_id = $(this).attr('id').split('_')[1];
      $.getJSON($SCRIPT_ROOT + '/_set_comments', {
        message_id: message_id,
        }, function(data) {
          for (var comment in data.result) {
            var li = document.createElement('li');
            var node = document.createTextNode(data.result[comment]);
            li.appendChild(node);
            ul.appendChild(li);
          }
        }
      );
    });

  });
</script>

{% endblock %}
