<!doctype html>
<head>
<!-- Loading Bootstrap -->
<link href="../static/bootstrap.min.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="../static/flat-ui.css" rel="stylesheet">
<link href="../static/demo.css" rel="stylesheet">

<script src="../static/jquery.min.js"></script>

<title>{% block title %}Welcome{% endblock %} | LokTantra</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

  <div class="row demo-row">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">Lok Tantra</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav navbar-left">
            {% if g.user %}
            <li><a href="{{ url_for('timeline') }}">My timeline</a></li>
            <li><a href="{{ url_for('public_timeline') }}">Public timeline</a></li>
            <li><a href="{{ url_for('logout') }}"> Logout [{{ g.user.username }}]</a></li>
            {% else %}
            <li><a href="{{ url_for('public_timeline') }}">Public timeline</a></li>
            <li><a href="{{ url_for('register') }}">Sign up</a> </li>
            <li><a href="{{ url_for('login') }}">Sign in</a></li>
            {% endif %}



            <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>

                 <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
                <li><a href="#fakelink">About Us</a></li>
              -->

          </ul>
          <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </nav><!-- /navbar -->
    </div>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
    </script>

  </div>
  {% with flashes = get_flashed_messages() %}
  {% if flashes %}
  <ul class=flashes>
    {% for message in flashes %}
    <li>{{ message }}
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div class=body>
    {% block body %}{% endblock %}
  </div>
  <div class=footer>
    LokTantra &mdash; A Flask Application
  </div>

</div>
</div>
</div>
<script src="../static/application.js"></script>
</body>


