{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h2>Sign Up as a Government Affiliate</h2>

<div class="login">
  <form method="post">
  <div class="login-screen2">
    {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
    <div class="row" style="padding-top:70px;">
      <div class="col-md-1"></div>
      <div class="login-form col-md-4">
        <div class="form-group">
          <input name="department_name" type="text" class="form-control login-field" value="{{ request.form.department_name }}" placeholder="Department name" id="department_name" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control login-field" name=state value="{{ request.form.state }}" placeholder="State" id="state" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
          <input type="text" name=city class="form-control login-field" value="{{ request.form.city }}" placeholder="City" id="city" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
          <input type="text" name="email" class="form-control login-field" value="{{ request.form.city }}" placeholder="Email" id="email" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

      </div> <!--login form-->

      <div class="col-md-2"></div>

      <div class="login-form col-md-4">

        <div class="form-group">
          <input type="text" class="form-control login-field" name= username value="{{ request.form.username }}" placeholder="Desired Username" id="username" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
          <input name=password type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <div class="form-group">
          <input name=password2 type="password" class="form-control login-field" value="" placeholder="Password (repeat)" id="login-pass" />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control login-field" name= follow_tags value="{{ request.form.follow_tags }}" placeholder="Tags to follow!!" id="follow_tags" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>

    <div class = "row">
      <div class= "col-xs-3"></div>
      <div class= "col-xs-6">
        <br>

        <div class="actions btn btn-primary btn-lg btn-block" style="background-color:#16a085"><input type=submit value="Sign Up" style="background:none;border:none;padding:0px 100px 0px 100px;"></div>
        <a href={{ url_for('register') }} style="text-align:center; display:block;">Register as a citizen instead.</a>
      </div>
    </div>
  </div>
  </form>
</div>
{% endblock %}
