{% extends "layout.html" %}
{% block title %}
    Public Timeline
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
      <div class=twitbox>
        <h3>What's on your mind {{ g.user.username }}?</h3>
        <form action="{{ url_for('add_message') }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
  {% endif %}
  <ul class=messages>
  {% for message in messages %}
    <li><img src="{{ message.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.username)
      }}">{{ message.username }}</a></strong>
      {{ message.text }}
      {% if g.user %}
        <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
        <input type="hidden" value="{{ message.message_id }}" name ="{{ "message_" ~ message.message_id }}">
        <input type="submit" name="submit" value="Plus One" onclick="plus_one({{ message.message_id }})">
      {% endif %}
      <span id={{"plus_one_count_" ~ message.message_id }}> {{ message.plus_one_count }} </span> Plus Ones</li>

      {% if g.user %}
        <div>
          <textarea name="{{ "body_" ~ message.message_id }}" placeholder="Add your comment..."></textarea>
          <input type="submit" name="submit" value="Add comment" onclick="add_comment({{ message.message_id }})">
        </div>
        <div class="comments">
          <ul id="{{ "comments_" ~ message.message_id }}"></ul>
        </div>
      {% endif %}
  {% endfor %}
  {% if not messages %}
    <em>There's no message so far.</em>
  {% endif %}
  </ul>

  <script type="text/javascript" >
    function plus_one(message_id) {
      $.getJSON($SCRIPT_ROOT + '/_plus_one', {
        message_id: $('input[name="message_' + message_id + '"]').val(),
        }, function(data) {
         $("#plus_one_count_"+message_id).text(data.result);
      });
    }
    function add_comment(message_id) {
      $.getJSON($SCRIPT_ROOT + '/_add_comment', {
        message_id: $('input[name="message_' + message_id + '"]').val(),
        text: $('textarea[name="body_' + message_id + '"]').val(),
        }, function(data) {
          if (data) {
            $('#comments_' + message_id).append('<li>' + $('textarea[name="body_' + message_id + '"]').val() +'</li>');
            $('textarea[name="body_' + message_id + '"]').val('');
          }
      });
    }
    $(document).ready(function(){

      $(".messages li").each(function() {
          var li = this;
          var message_id = $(this).find('input')[0]['name'].split('_')[1];
          $.getJSON($SCRIPT_ROOT + '/_set_upvote_classes', {
              message_id: message_id,
              }, function(data) {
                if (data.result) {
                  $(li).addClass('inactive');
                }
              }
          );
      });

      $(".comments ul").each(function() {
        var ul = this;
        var message_id = $(this).attr('id').split('_')[1];
        $.getJSON($SCRIPT_ROOT + '/_set_comments', {
          message_id: message_id,
          }, function(data) {
            for (var comment in data.result) {
              var li = document.createElement('li');
              var node = document.createTextNode(data.result[comment]);
              li.appendChild(node);
              ul.appendChild(li);
            }
          }
        );
      });

    });
  </script>

{% endblock %}
