{% extends "layout.html" %}
{% block title %}
Public Timeline
{% endblock %}
{% block body %}
<div class="demo-heading-note"><h3>{{ self.title() }}</h3></div>
{% if g.user %}
<div class="tweet-screen">
<div class=twitbox>

   <h4 style="text-align:center">Post a mudda, {{ g.user.username }}!</h4>
  <form action="{{ url_for('add_message') }}" method=post>
    <p>
        <div class=row>
      <div class="col-md-6"> <input type="text" name="text" size="70" placeholder="What's on your mind?" class="input-group"></div>
      <div class="col-md-2"></div>
      <div class="col-md-4"><span style="font-size:10pt">Location</span>
      <input size=15 type="text"  name="location"  value="{{ g.user.city }}">
     </div> 
      </div>
      <br>
      <div class = "row">
              <div class= "col-md-4"></div>
                      <div class= "col-md-4"><div class="actions btn btn-primary btn-lg btn-block" style="background-color:#16a085;"><input type=submit value="Share" style="background:none;border:none;"></div>
      </div></div>
      
      </p>
  </form>

{% endif %}
<ul class=messages>
  {% for message in messages %}
  <li><img src="{{ message.email|gravatar(size=48) }}" style="float:left"><p>
  <strong>&nbsp;<a href="{{ url_for('user_timeline', username=message.username)
      }}" style="font-size:18pt">{{ message.username }}</a></strong>
  &nbsp;&nbsp;{{ message.text }}
  {% if g.user %}
  <small>&mdash; On {{ message.pub_date|datetimeformat }}, {{ message.location }}</small>
  <input type="hidden" value="{{ message.message_id }}" name ="{{ "message_" ~ message.message_id }}">
  <div class="row">
  <div class="col-md-3">
   <div class="actions btn btn-primary btn-lg btn-block" style="background-color:#16a085"><input type=submit style="background:none;border:none;padding:0px 20px 0px 20px" name="submit" value="Plus One" onclick="plus_one({{ message.message_id }})"> <span id={{"plus_one_count_" ~ message.message_id }}> {{ "(" ~ message.plus_one_count ~ ")" }} </span></div></div>
    <div class="col-md-4">
   
               <select class="form-control select select-primary" style="background-color:#16a085;height:43px;color:white;text-align:center;" data-toggle="select">
            <option value="0">Open</option>
            <option value="1">Assigned</option>
            <option value="2">Closed</option>
          </select>

    </div>
  {% endif %}

  {% if g.user %}
  <div class="col-md-4">
    <textarea name="{{ "body_" ~ message.message_id }}" style="font-size:10pt" cols=30 placeholder="Add your comment..."></textarea>
    <input type="submit" name="submit" value="Add comment" onclick="add_comment({{ message.message_id }})">
  </div>
  <div class="comments">
    <ul id="{{ "comments_" ~ message.message_id }}"></ul>
  </div></div>
  {% endif %}
  {% endfor %}
  {% if not messages %}
  <em>There's no message so far.</em>
  {% endif %}
</ul>
</div>
<script type="text/javascript">
  function plus_one(message_id) {
    $.getJSON($SCRIPT_ROOT + '/_plus_one', {
      message_id: $('input[name="message_' + message_id + '"]').val(),
      }, function(data) {
       $("#plus_one_count_"+message_id).text(data.result);
       var li = $('input[name="message_' + message_id + '"]').parent().parent();
       $(li).removeClass('active');
       $(li).removeClass('inactive');
       $(li).addClass(data.status);
    });
  }
  function add_comment(message_id) {
    $.getJSON($SCRIPT_ROOT + '/_add_comment', {
      message_id: $('input[name="message_' + message_id + '"]').val(),
      text: $('textarea[name="body_' + message_id + '"]').val(),
      }, function(data) {
        if (data) {
          $('#comments_' + message_id).append('<li>' + $('textarea[name="body_' + message_id + '"]').val() +'</li>');
          $('textarea[name="body_' + message_id + '"]').val('');
        }
    });
  }
  $(document).ready(function(){

    $(".messages li").each(function() {
        var li = this;
        var message_id = $(this).find('input')[0]['name'].split('_')[1];
        $.getJSON($SCRIPT_ROOT + '/_set_upvote_classes', {
            message_id: message_id,
            }, function(data) {
              if (data.result) {
                $(li).addClass('inactive');
              }
            }
        );
    });

    $(".comments ul").each(function() {
      var ul = this;
      var message_id = $(this).attr('id').split('_')[1];
      $.getJSON($SCRIPT_ROOT + '/_set_comments', {
        message_id: message_id,
        }, function(data) {
          for (var comment in data.result) {
            var li = document.createElement('li');
            var node = document.createTextNode(data.result[comment]);
            li.appendChild(node);
            ul.appendChild(li);
          }
        }
      );
    });

  });
</script>

{% endblock %}

