{% extends "layout.html" %}
{% block title %}
  {% if g.user.user_id == profile_user.user_id %}
    My Timeline
  {% else %}
    {{ profile_user.username }}'s Timeline
  {% endif %}
{% endblock %}
{% block body %}
<div class="demo-heading-note"><h3>{{ profile_user.full_name }}</h3></div>
<div class=row>
 <div class="col-md-5">
  Location: {{ profile_user.city }}, {{ profile_user.state }}
 </div>
 <div class="col-md-7">
 {% if g.user %}
      <div class=followstatus style="float:right">
      {% if g.user.user_id == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
  {% endif %} 
  </div>
</div>

<div class="tweet-screen">
<div class=twitbox>
 <div class=row>
    <div class="demo-heading-note col-md-7"> <h5> Number of muddas posted: {{ mudda_count }}</h5></div>
    <div class="demo-heading-note col-md-5"> <h5> Reputation: {{ reputation }}</h5></div>
 </div>

<ul class=messages>
  {% for message in messages %}
  <br><div style="background:#3e5171;border-radius:20px;padding:25px 20px 20px 60px;color:#eeeeee">
    <li><img src="{{ message.email|gravatar(size=48) }}" style="float:left"><p>
      <strong> &nbsp;<a href="{{ url_for('user_timeline', username=message.username)
      }}" style="font-size:18pt">{{ message.username }}</a></strong>
    &nbsp; &nbsp;
     {% for tag in getTags(message.text) %}
        {% if tag[1] == 1 %}
          {{tag[0]}}
        {% elif tag[1] == 2 %}
          <a href="{{ url_for('search_hashtag', hashtag=tag[0])}}">#{{tag[0]}}</a>
        {% else %}
          <a href="/{{tag[0]}}">@{{tag[0]}}</a>
        {% endif %}
      {% endfor %}
      <small>&mdash; On {{ message.pub_date|datetimeformat }}, {{ message.location }} </small>
  </li></div>{% endfor %}
  </ul></div></div>
<br><br>{% endblock %}

